@model ProyectoCalidad.Models.Aeropuerto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aeropuerto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreAeropuerto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreAeropuerto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilitado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigoAeropuertoPK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
