@model IEnumerable<ProyectoCalidad.Models.Aeropuerto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreAeropuerto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilitado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreAeropuerto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.habilitado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codigoAeropuertoPK }) |
            @Html.ActionLink("Details", "Details", new { id=item.codigoAeropuertoPK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codigoAeropuertoPK })
        </td>
    </tr>
}

</table>
